@value colors: 'theme/colors.css';
@value goldDark1, goldLight2, goldLight3, goldLight4, textPrimary from colors;

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 8px;
    width: 700px;
    align-self: center;

    @media (max-width: 768px) {
        margin: 8px;
        width: 100%;
    }

    .link {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 16px;
        background: linear-gradient(135deg, goldLight3, goldLight2);
        border-radius: 8px;
        padding: 8px;
        text-decoration: none;
        color: textPrimary;
        align-items: center;
        border-color: color-mix(in srgb, goldLight2, transparent 20%);
        border-width: 1px;
        border-style: outset;
        cursor: pointer;
    }

    .link:hover {
        background: linear-gradient(135deg, goldLight4, goldLight3);
    }

    .link img {
        flex-grow: 0;
        flex-basis: 32px;
        object-fit: cover;
    }

    .link span {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        font-size: 16px;
    }
}
