@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

@value colors: 'theme/colors.css';
@value blueDark1, goldDark1, blueDark3, goldDark3, blueLight3, goldLight3 from colors;

.container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: Oswald, sans-serif;
    color: #202020;
}

.container:global(.active) {
    .eventName, .teamContainer {
        opacity: 1.0;
    }
}

.eventName {
    position: absolute;
    top: 20px;
    left: 384px;
    width: 1152px;
    height: 114px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px inset #202020af;
    background-image: url("/static/wildflower/background.png");
    text-align: center;
    font-size: 54px;
    padding: 20px;
    opacity: 0;
}

.teamContainer {
    position: absolute;
    top: 180px;
    width: 880px;
    border-radius: 5px;
    transition: 'opacity 1s';
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/static/wildflower/background.png");

    .teamName {
        padding: 10px 0;
        min-width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 42px;
        overflow: hidden;
        white-space: nowrap;
    }

    .teamStandings {
        min-width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        font-style: italic;
        white-space: nowrap;
    }
}

.teamContainer:global(.large) {
    .teamName {
        border-bottom: 1px solid #777;
    }

    .playerNames {
        margin: 0 0 10px 0;
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .player {
            flex-basis: 0;
            flex-grow: 1;
            display: flex;

            .image {
                width: 125px;
                height: 125px;
                overflow: hidden;
                flex-grow: 0;
                flex-basis: 125px;
            }

            .image img {
                width: 125px;
                height: 125px;
                object-fit: cover;
            }

            .textColumn {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0 20px;
                height: 100%;
                flex-basis: 0;
                flex-grow: 1;

                .nameRow {
                    display: flex;
                    gap: 32px;
                    align-items: center;

                    .playerName {
                        font-size: 36px;
                    }

                    .pronouns {
                        font-size: 24px;
                        font-style: italic;
                    }
                }

                .tidbit {
                    font-size: 18px;
                    margin: 10px 0 0 0;
                    flex-basis: 0;
                    flex-grow: 1;
                    overflow: hidden;
                }
            }
        }

        .player:not(:last-of-type) {
            border-bottom: 1px solid #7f7f7f7f;
            border-bottom-style: solid;
        }
    }
}

.teamContainer:global(.active) {
    opacity: 1.0;
}

.teamContainer:global(.left) {
    left: 40px;

    .player, .nameRow {
        flex-direction: row;
    }

    .tidbit {
        text-align: left;
    }
}

.teamContainer:global(.right) {
    right: 40px;

    .player, .nameRow {
        flex-direction: row-reverse;
    }

    .tidbit {
        text-align: right;
    }
}

.teamContainer:global(.blue) {
    box-shadow: 0 0 15px 5px inset blueDark3;

    .player:not(:last-of-type) {
        border-color: blueDark1;
    }

    .teamName {
        color: blueDark3;
    }
}

.teamContainer:global(.gold) {
    box-shadow: 0 0 15px 5px inset goldDark3;

    .player:not(:last-of-type) {
        border-color: goldDark1;
    }

    .teamName {
        color: goldDark3;
    }
}

.teamContainer:global(.large) {
    height: 880px;
    overflow: hidden;
    align-items: center;
}

.container:global(.dark) {
    color: #efefef;

    .eventName {
        box-shadow: 0 0 15px 5px inset #ffffffaf;
        background-image: url("/static/wildflower/background-dark.png");
    }

    .teamContainer {
        background-image: url("/static/wildflower/background-dark.png");
    }

    .teamContainer:global(.blue) {
        box-shadow: 0 0 15px 5px inset blueLight3;

        .teamName {
            color: blueLight3;
        }
    }

    .teamContainer:global(.gold) {
        box-shadow: 0 0 15px 5px inset goldLight3;

        .teamName {
            color: goldLight3;
        }
    }
}

