@value colors: 'theme/colors.css';
@value divider, defaultBg, selectedBg, highlightBg from colors;

.tabHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
    border-bottom: 1px solid divider;
    margin: 0 -32px;
    padding: 0 32px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    .tab {
        border-color: divider;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        padding: 4px 8px;
        cursor: pointer;
        line-height: 16px;

        .icon {
            width: 1rem;
            height: 1rem;
            vertical-align: text-top;
            margin-right: 4px;
        }

        @media (max-width: 768px) {
            .icon {
                width: 32px;
                height: 32px;
                margin-right: 0;
            }

            .tabTitle {
                display: none;
            }
        }
    }

    .tab:hover {
        background-color: highlightBg;
    }

    .tab.selected {
        background-color: selectedBg;
        font-weight: bold;
    }
}

