@value colors: 'theme/colors.css';
@value success from colors;

.accountSelect {
    width: 600px;
}

.previousAccountSelector {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.successText {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.successText .icon {
    vertical-align: center;
    color: success;
}

.successRow {
    margin-top: 0;
}
