.imageFormRow {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .imageContainer {
        width: 200px;
        height: 200px;
        flex-basis: 200px;
        flex-grow: 0;
    }

    .image {
        width: 100%;
        height: 100%;;
        object-fit: cover;
    }
}
