@value colors: 'theme/colors.css';
@value goldLight1 from colors;

.chip {
    background-image: linear-gradient(to bottom right, #556, #223);
    color: white;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

    .icon {
        color: goldLight1;
        margin: 4px 0;
    }
}

.chip:hover {
    background-image: linear-gradient(to bottom right, #778, #445);
}

