@value colors: 'theme/colors.css';
@value textDisabled, divider, blueLight4, goldLight4, tableTitleBg from colors;

.list {
    composes: list from './List.module.css';
}

.listTitle {
    composes: listTitle from './List.module.css';
}

.listItem {
    composes: listItem from './List.module.css';
}

.listBody {
    composes: listBody from './List.module.css';
}

.menuIcon {
    composes: menuIcon from './List.module.css';
}

.dragHandle {
    width: 24px;
    flex-grow: 0;
}

.team {
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 4px;
    padding-top: 4px;
    border: 1px solid transparent;
}

.blueTeam {
    background-color: blueLight4;
}

.goldTeam {
    background-color: goldLight4;
}

