.ridgeBorder {
  border: 4px ridge #e0dddb;
  box-shadow: 0 3px 3px black, inset 1px 1px 6px black;
  /* background: #232323; */
  border-radius: 3px;
}
.carvedText {
  text-shadow: 1px 1px 0px black, -1px -1px 0px rgba(255, 255, 255, .75);

}

.engravedBox {
  box-shadow:  1px 1px 0px 1px rgba(255, 255, 255, .75), -1px -1px 0px 1px rgba(0, 0, 0, .75);
}
.fontMedieval { font-family: 'MedievalSharp', sans-serif; letter-spacing: 2px; }
