@value colors: 'theme/colors.css';
@value tableTitleBg, textPrimary from colors;

.container {
    margin: 16px 0 32px 0;
    background: colors.textPrimary;
    border-radius: 5px;
    padding-bottom: 8px;
    overflow: hidden;
}

.titleContainer {
    background-color: tableTitleBg;
    border-bottom: 2px solid #888;
    padding: 16px;
    min-height: unset;
}

.title {
    color: textPrimary;
    font-weight: bold;
    margin-top: 0;
}

.bracket {
    width: 100%;
}

