@value colors: 'theme/colors.css';
@value divider, blueDark1, blueLight3, goldDark1, goldLight3, highlightBg from colors;

.title {
    font-size: 18px;
    margin-top: 16px;
    font-weight: bold;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: center;


    .leftColumn {
        flex-grow: 1;
        flex-basis: 0;
    }

    .rightColumn {
        flex-grow: 0;
        width: 400px;
        flex-basis: 400px;
        align-self: flex-start;
        justify-content: center;
        text-align: center;
        position: sticky;
        display: flex;
        flex-direction: column;
        top: 16px;
        gap: 16px;
    }
}

.qrContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    text-align: center;

    .text {
        font-size: 14px;
    }

    .text.headerText {
        font-size: 24px;
        font-weight: bold;
    }

    .text a {
        font-weight: bold;
        color: black;
    }
}

@media (min-width: 1024px) {
    .qrContainer img {
        width: 350px;
    }
}

.sessionStatus {
    padding: 0 16px;
}

.countByRole {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 0 64px;

    .role {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
}

.matchScore {
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    .teamName {
        flex-basis: 0;
        flex-grow: 1;
        padding: 16px;
        font-size: 34px;
        text-wrap: nowrap;

        @media (max-width: 768px) {
            font-size: 24px;
            padding: 8px;
        }
    }

    .teamScore {
        flex-grow: 0;
        width: 100px;
        flex-basis: 100px;
        text-align: right;
        padding: 16px;
        font-size: 34px;
        font-weight: bold;

        @media (max-width: 768px) {
            font-size: 24px;
            padding: 8px;
        }
    }

    .blueTeam {
        background: linear-gradient(to bottom, white, blueLight3);
    }

    .goldTeam {
        background: linear-gradient(to bottom, white, goldLight3);
    }

    .teamName.goldTeam {
        text-align: right;
    }

    .teamScore.goldTeam {
        text-align: left;
    }
}

.noMatch {
    text-align: center;
    padding: 32px;
}

.currentMatch {
    display: flex;
    flex-direction: row;

    .team {
        display: flex;
        flex-direction: column;
        flex-basis: 0;
        flex-grow: 1;

        .player {
            display: flex;
            flex-direction: row;
            border: 1px solid divider;
            margin-top: -1px;
            padding: 16px;
            align-items: center;
            gap: 8px;
            height: 96px;
            overflow: hidden;

            @media (max-width: 768px) {
                padding: 4px 0;
                height: 64px;
                gap: 0;
            }

            .imageCell {
                height: 64px;
                width: 64px;
                overflow: hidden;

                @media (max-width: 768px) {
                    height: 32px;
                    width: 32px;
                    padding: 4px;
                }

                .image {
                    width: 64px;
                    height: 64px;

                    @media (max-width: 768px) {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            .playerInfo {
                flex-basis: 0;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;

                .name {
                    font-size: 20px;

                    @media (max-width: 768px) {
                        font-size: 15px;
                        line-height: 16px;
                        padding: 0 8px;
                    }
                }

                .role {
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }

            .roleImageCell {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;

                @media (max-width: 768px) {
                    width: 32px;
                }
            }

            @media (max-width: 768px) {
                .roleImageCell svg {
                    width: 24px;
                    height: 24px;
                }
            }

        }

        &.goldTeam .player {
            flex-direction: row-reverse;

            .playerInfo {
                text-align: right;
            }
        }
    }
}

.playerList {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .player {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 32px;
        gap: 8px;

        .playerImage {
            height: 32px;
            width: 32px;
            flexBasis: 32px;
        }

        .playerName {
            flex-grow: 2;
            flex-basis: 0;
        }

        .roles {
            flex-grow: 1;
            flex-basis: 0;
        }

        .playerActiveStatus {
            flex-grow: 0;
            flex-basis: 140px;
            width: 140px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
        }

        .isReady.blue {
            color: blueDark1;
        }

        .isReady.gold {
            color: goldDark1;
        }

        .deleteButton {
            flex-grow: 0;
        }
    }

    .player:hover {
        background-color: highlightBg;
    }
}

.roleSelectorRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    .roleSelector {
        flex-grow: 1;
        border: 1px solid #afafaf;
        border-radius: 5px;
        cursor: pointer;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .roleSelector:global(.active) {
        background-color: goldLight3;
        font-weight: bold;
    }

    .roleSelectorSwitch {
        display: none;
    }
}

.mainPageStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
}
